@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

:root {
	--font-roboto: "Roboto Slab", serif;
	--font-raleway: "Raleway", sans-serif;
}

body {
	font-family: var(--font-roboto);
	background-color: #677f7c;
}

#body-content {
	position: absolute;
	height: 75%;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#game-buttons {
	display: flex;
	justify-content: space-around;
	gap: 0.5rem;
	flex-direction: column;
	/* align-items: center; */
}

.playButtons {
	border-radius: 2rem;
	border-style: solid;
	border-color: #343d39;
	color: #343d39;
	background-color: #bfd2cc;
	user-select: none;
	font-size: 1rem;
	padding: 0.6rem;
	margin: 0.8rem 0rem;
}

#start-restart {
	position: relative;
}

#start-restart:hover {
	cursor: pointer;
}

#select-difficulty {
	position: relative;
	z-index: 999;
}

#timer-canvas {
	background-color: red;
	width: 100px;
	height: 50px;
}
