@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
	user-select: none;
}

*:focus {
	outline: none;
	box-shadow: none;
}

html {
	position: relative;
	height: 100%;
	width: 100%;
}

button:hover {
	filter: brightness(85%);
	cursor: pointer;
	transform: scale(1.05);
}

button:active {
	transform: scale(0.95);
	filter: brightness(70%);
}

body {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #677f7c;
	font-family: 'Roboto', sans-serif;
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
