html {
	position: relative;
	height: 100%;
	width: 100%;
}

#navbar {
	position: relative;
	width: 100%;
	height: 12%;
	background-color: #9ab7b4;
	border-bottom: 0.01rem;
	border-style: solid;
	border-color: #343d39;
	box-shadow: 0 2px 4px rgba(60, 82, 82, 0.5);
}

#navbar-elements {
	width: 90%;
	justify-content: space-between;
	display: flex;
	align-items: center;
	flex-direction: row;
	margin: 0 auto;
}

#navbar-elements>* {
	flex-basis: 33.33%;
}

#title {
	font-size: 4rem;
	text-shadow: 0px 0px 3px black;
}

#title:hover {
	transform: scale(1.1);
	transform-origin: left;
	cursor: pointer;
}

#title:active {
	transform: scale(0.9);
	transform-origin: center;
}

#nav-menu {
	position: relative;
	display: flex;
	justify-content: space-around;
	/* color: rgb(249, 211, 180); */
}

.nav-button {
	margin: 0 auto;
	box-sizing: border-box;
	font-size: 1.6rem;
	width: calc(11 * 1rem);
	padding: 1rem;
	border-width: 0.15rem;
	border-style: solid;
	border-color: #343d39;
	color: #343d39;
	font-weight: bold;
	box-shadow: 0 0px 3px rgba(60, 82, 82, 0.5);
	border-radius: 1rem;
	background-color: #83978b;
}

.nav-button:hover {
	background-color: #5a7163;
	transform: scale(1.1);
	cursor: pointer;
}

.nav-button:active {
	background-color: #46584d;
	transform: translateY(0.1rem);
	transform: scale(0.9);
}

#user-section {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: flex-end;
	font-size: 1rem;
}

#user-section:hover {
	transform: scale(1.1);
	transform-origin: right;
	cursor: pointer;
}

#user-section:active {
	transform: scale(0.9);
	transform-origin: right;
}

#user-icon {
	height: 2.2rem;
	filter: drop-shadow(0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.5));
	/* filter: drop-shadow(2rem, 2rem, 2rem, black); */
}

#user-text {
	text-shadow: 0.5px 0.5px 1px black;
}
