#navbar {
	position: relative;
	/* width: 100%; */
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	background-color: #9ab7b4;
	border-bottom: 0.01rem;
	border-style: solid;
	border-color: #343d39;
	box-shadow: 0 2px 4px rgba(60, 82, 82, 0.5);
}

#title {
	position: relative;
	font-size: 4rem;
	text-shadow: 1px 1px 2px black;
	user-select: none;
}

#title:hover {
	transform: scale(1.1);
	cursor: pointer;
}

#title:active {
	transform: scale(0.9);
}

#nav-menu {
	position: relative;
	display: flex;
	gap: 1.5rem;
	justify-content: space-around;
	width: 15%;
	color: rgb(249, 211, 180);
	font-size: 2rem;
}

.nav-button {
	padding: 1rem;
	border-width: 0.15rem;
	border-style: solid;
	border-color: #343d39;
	color: #343d39;
	font-weight: bold;
	box-shadow: 0 2px 4px rgba(60, 82, 82, 0.5);
	border-radius: 1rem;
	background-color: #83978b;
	user-select: none;
}

.nav-button:hover {
	background-color: #5a7163;
	transform: scale(1.1);
	cursor: pointer;
}

.nav-button:active {
	background-color: #46584d;
	transform: translateY(0.1rem);
	transform: scale(0.9);
}

#user-section {
	position: relative;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
	user-select: none;
}

#user-section:hover {
	transform: scale(1.1);
	cursor: pointer;
	user-select: none;
}

#user-section:active {
	transform: scale(0.9);
}

#user-icon {
	height: 2.2rem;
	filter: drop-shadow(0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.5));
	/* filter: drop-shadow(2rem, 2rem, 2rem, black); */
}

#user-text {
	text-shadow: 0.5px 0.5px 1px black;
}
