[Unit]
Description=Truncate weekly rankings sudoku table
ExecStart=/home/henri/Projects/WebSudoku/backend/venv/bin/python3 /home/henri/Projects/WebSudoku/backend/database.py weeklyReset
